/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #080001;
  background: #f2f2f2;
}

a {
	text-decoration: none;
	color: #080001;
}

li, lo {
	list-style: none;
}